{% extends "admin/cms/page/plugin/change_form.html" %}
{% load staticfiles %}

{% block extrastyle %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static 'cmsplugin_markdown/themes/base/epiceditor.css' %}" />
{% endblock %}

{% block extrahead %}
{{ block.super }}
<div id="epiceditor"></div>
<script src="{% static 'cmsplugin_markdown/js/jquery.min.js' %}"></script>
<script src="{% static 'cmsplugin_markdown/js/epiceditor.js' %}"></script>
<script>
jQuery(function ($) {
    $('#markdownplugin_form>div').hide();
    var opts = {
        basePath: '{% static 'cmsplugin_markdown' %}'
        ,clientSideStorage: false
        ,button: {
          fullscreen: false
        }
    }
    var editor = new EpicEditor(opts).load();
    var text = jQuery(editor.getElement('editor').body);
    text.html($('#id_markdown_text').html().replace(/\n/g, '<br />'));
    text.keyup(function () {
        $('#id_markdown_text').val(editor.exportFile(null, 'text'));
    });
});
</script>
{% endblock %}
